<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MonetizeJS - {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <!-- inject:app-icon -->
    <link rel="icon" href="/assets/icon-c2021f43.ico" type="image/x-icon">
    <!-- endinject -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,900'/>
    <!-- inject:app-style:css -->
    <link rel="stylesheet" href="/css/main-773a941e.css">
    <!-- endinject -->
    <script src="//cdn.monetizejs.com/api/js/0.1.1/monetize.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
